body {
  background-color: #0d0d0d;
  color: #00ffcc;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#menu h1 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 300px;
  font-size: 24px;
  color: #ff33cc;
}

#menu h2 {
  font-family: 'Press Start 2P', cursive;
  margin: 30px;
  font-size: 14px;
  color: #ff33cc;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-family: inherit;
  font-size: 12px;
  background: #1a1a1a;
  border: 2px solid #00ffcc;
  color: #00ffcc;
  cursor: pointer;
}

button:hover {
  background: #00ffcc;
  color: black;
}

.hidden {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 3px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 60px;
  height: 60px;
  background-image: url('images/coin.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

.cell.collected {
  background-color: transparent;
  color: gray;
}

.cell.your-path {
  outline: 2px solid red;
}

.cell.current {
  outline: 2px dashed yellow;
}

#controls {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}

#controls-buttons {
  margin-top: 20px;
  text-align: center;
}

.control-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px 0;
}

#win-screen p {
  margin: 15px 0;
  font-size: 14px;
}

#win-screen strong {
  color: #00ffcc;
}

#hint-box {
  margin: 10px 0;
  font-size: 16px;
  color: yellow;
}

.comparison-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.comparison-grid {
  display: grid;
  grid-template-columns: repeat(7, 26px);
  gap: 3px;
}

#path-comparison-user,
#path-comparison-best {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 0px;
  margin: -5px 0;
}

.mini-cell {
  width: 55px;
  height: 55px;
  background-image: url('images/coin.png');
  background-size: cover;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.arrow {
  color: white;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 8px 12px;
  background-color: #1a1a1a;
  color: #00ffcc;
  border: 2px solid #00ffcc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn:hover {
  background-color: #00ffcc;
  color: black;
} 

@media (max-width: 600px) {

  /* Главное меню */
  #menu {
    justify-content: center;
    padding: 20px; 
  }

  #menu h1 {
    font-size: 20px;
    margin-top: 10px;
   align-items: center;
  }

  #menu h2 {
    font-size: 14px;
    margin-bottom: 30px;
   align-items: center;
  }

  #menu button {
    font-size: 12px;
    padding: 15px 30px;
    margin: 10px;
  }

  /* Игровое поле */
  #grid {
    grid-template-columns: repeat(7, 60px);
    gap: 5px;
    margin: 40px auto;
  }

  .cell {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  /* Кнопки управления */
  .arrow-btn {
    font-size: 14px;
    padding: 10px 20px;
    min-width: 90px;
    height: 40px;
  }

  .control-row.middle {
    justify-content: center;
    gap: 20px;
  }

  /* Мини-поля в финале */
  .comparison-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .mini-cell {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  #path-comparison-user,
  #path-comparison-best {
    grid-template-columns: repeat(7, 35px);
    gap: 5px;
  }

  /* Подсказка и управление */
  #hint-box {
    font-size: 14px;
  }

  #controls {
    font-size: 12px;
  }
}





